body{
  background-color: rgb(153, 163, 163);
  align-items: center;
  text-align: center;
}



* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif
}

button,
input[type="text"] {
  padding: 10px;
  background: skyblue;
  align-content: center;
  
}

button:hover {
  cursor: pointer;
}

#shopping-list-item {
  width: 250px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.shopping-list {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.shopping-list > li {
  margin-bottom: 20px;
  border: 1px solid rgb(212, 25, 25);
  padding: 20px;
}

.shopping-item {
  display: block;
  color: grey;
  font-style: inherit;
  font-size: auto;
  margin-bottom: auto;
}

.completed {
  text-decoration: line-through;
}
